* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: whitesmoke;
    padding: 30px;
    
}

.logo-web {
    float: left;
}

.logo-web a {
    text-decoration: none;
}

header form {
    display: flex;
    align-items: center;
    justify-content: center;
}

header form input[type="text"]{
    background-image: url(./img/Lupa\ icon.png);
    background-size: 20px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.boxsearch-header {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
}

.boxsearch-header[type="text"]:focus {
    color: rgba(17, 0, 255, 0.548);
    border-color: rgba(17, 0, 255, 0.548);
}

input::placeholder {
    opacity: 100%;
}

.nav-top {
    display: flex;
    justify-content: center;
    background-color: rgb(22, 25, 206);
    border-bottom: 1px solid black;
}

.nav-top a{
    padding: 10px;
    padding-right: 50px;
    color: aliceblue;
    text-decoration: none;
}

.vitrine {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.produtos {
    display: flex;
    overflow: auto;
    gap: 15px;
}

.produto {
    flex: 0 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: 1px solid black;
}

.produto img {
    max-width: 100%;
    height: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.produto button {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid rgba(128, 128, 128, 0.089);
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 600px;
    border-radius: 15px;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    border-color: #ccc;
}

.form input[type="text"]:focus {
    background-color: rgba(187, 183, 247, 0.164);
}

.form input[type="password"]:focus {
    background-color: rgba(187, 183, 247, 0.164);
}

.form input[type="email"]:focus {
    background-color: rgba(187, 183, 247, 0.164);
}

.form input[type="tel"]:focus {
    background-color: rgba(187, 183, 247, 0.164);
}

.form h1 {
    margin: 50px;
}

.form a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 500px;
    text-decoration: none;
    background-color: rgba(1, 83, 177, 0.733);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.form button {
    width: 500px;
    height: 100px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgba(17, 0, 255, 0.548);
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

.form button:active {
    background-color: rgba(17, 0, 255, 0.788);
    color: rgb(209, 208, 208);
}

.check input {
    width: 15px;
    height: 15px;
    
}